@page
@model TravelUp.Pages.Travels.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Travel</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Travel.Header" class="control-label"></label>
                <input asp-for="Travel.Header" class="form-control" />
                <span asp-validation-for="Travel.Header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Travel.AddressOfThePlace" class="control-label"></label>
                <input asp-for="Travel.AddressOfThePlace" class="form-control" />
                <span asp-validation-for="Travel.AddressOfThePlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Travel.Text" class="control-label"></label>
                <textarea asp-for="Travel.Text" id="editor1" rows="10" cols="80">
                This is my textarea to be replaced with CKEditor.
            </textarea>
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace('editor1');
                </script>

                <span asp-validation-for="Travel.Text" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
