@page
@model TravelUp.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
nie zaimplementowano edita z powodu używania Microsoft Identity.
będą tu dostępne linki z przekierowaniami 

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
